/target
/dist
/session.txt
/rivet-icons
/.vs
/.vscode
/.idea
/.claude
/agents
/*.code-workspace
*.rs.bk
*.suo
*.user
*.userosscache
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.pdb
*.idb
*.ilk
*.obj
*.lib
*.exp
update-signing.key
