/target
/dist
/session.txt
/rivet-icons
/.vs
/.vscode
/.idea
/*.code-workspace
*.rs.bk
*.suo
*.user
*.userosscache
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.pdb
*.idb
*.ilk
*.obj
*.lib
*.exp
